.ency-editor {
  border: 1px solid #bcbcbc;
  border-radius: 5px;
  box-shadow: 0px 0px 7px 0px gray;
  padding: 5px;
  text-overflow: clip;
  overflow: scroll;
  height: calc(70vh - 10em);
}

span {
  outline:none;
}
 .demotag {
   background-color: #bdbdbd;
   border-radius:3px;
 }

 .clearbutton {
   background-color: #ff5656;
   border-radius:50%;
   color: white;
 }
p {
  margin: 0;
}
